.title {
    text-align: justify;
    color : #475d82
}
.title-container {
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
}

.button-align{
display: flex;
justify-content: flex-end;
}

.cartela-container {
    padding: 10px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 5px;
    width: 70%;
    height: 50%;
}

.tabela {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
}

.tabela-item {
    padding : 5px;
    margin : 5px;
    border: solid 1px;
    border-radius: 30px;
    background-color: beige;
}
/* display FLEX e JUSTIFY-CONTENT:CENTER centraliza os items */
.cartela-row {
    display: flex;
         /* flex-direction: row; */
        justify-content: center;
         /* align-items: center */
}

